:root {
    --primaryColor: rgb(0, 69, 0);
    --secondaryColor: rgba(239, 82, 176, 0.777);
}

main {
    display: flex;
    flex-direction: column;
    min-width: 500px;
    min-height: 500px;
}

body {
    background-color: var(--primaryColor);
    color: white;
}

a {
    color: var(--primaryColor)
}

nav {
    display: flex;
    justify-content: right;
    font-size: 48px;
    padding: 3px;
    color: white;
    background-color: black;
}

nav a{
    margin: 10px;
}

nav a:hover{
    background-color: var(--secondaryColor);
}

.card {
    display: flex;
    flex-direction: row;
    align-items: center;
    box-shadow: inset 5px 5px 5px rgba(226, 127, 187, 0.777);
    border: solid 5px black;
    background-color: var(--secondaryColor);
    padding: 15px 2px 2px 8px;
    margin: 50px;
    height: 500px;
}


.card img {
    display:flex;
    align-items: center;
    float: right;
    width: 200px;
    height: 200px;
    margin: 5px;
}

.card h1 {
    display: flex;
    justify-content: center;
    border: solid 2px black;
    padding: 5px;
    margin: 5px;
    font-size: 300%;
}

header {
text-decoration:underline;
background-color: var(--primaryColor);
font-family:'Courier New', Courier, monospace;
font-size: 60px;
display: flex;
justify-content: center;
}

#work img:hover{
    opacity: 80%;
}

#work1 {
    display: flex;
    flex-wrap: wrap;
}

#contactMe li{
font-size: 30px;
display: flex;
flex-wrap: wrap;
align-content: space-between;
padding: 20px;
margin: 15px 100px 100px 15px;
}

p {
    font-size: 150%;
}